#input-area{
    display: block;
}
.text-center{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#submit-area{
    margin: auto;
    width: 550px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    padding: 40px;
    border: .5px solid black;
}
#city-name{
    width: 350px;
    height: 50px;
    background-color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#submit-button{
    background-color: #008CBA;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#info-area{
    margin: auto;
    width: 550px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    padding: 40px;
    border: .5px solid black;
}

